body{
  background-color: rgb(231, 235, 240);
  margin: 0;
  padding: 0;
}
.form-control{
  width: calc(100% - 20px);
  padding: 10px;
}
.card-title{
  position: relative;
  top: -40px;
  color: white;
  padding: 15px;
  border-radius: 5px;
  background-image: linear-gradient(195deg,#1565c0,#2196f3);
  text-align: center;
}
.card-subTitle{
  text-align: center;
  font-family:'Roboto';
  position: relative;
  top:-20px;
}
a.brand, a.brand:hover, a.brand:focus, a.brand:active {
  text-decoration: none;
  color: inherit;
}